h2, h3, p {
    margin: 0;
    padding: 0;
    color: #000000;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 58px;

}

body {
    background-color: rgb(106, 198, 237);
    background-image: url("Harjavalta.vaakuna.svg.png");
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    line-height: 1.6;
}


header {
    color: #c1a04f;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 0.5em;
}

nav a {
    color: #c1a04f;
    text-decoration: none;
    margin: 0 1em;
    transition: color 0.3s ease; /* Add transition for smooth color change */
}

nav a:hover {
    color: #000000; /* Change color on hover */
}

main {
    text-align: center;
    padding: 2rem;
}

/* Main content area styling */
.main-content {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


footer {
    margin-top: auto;
    background-color: #c1a04f;
    text-align: center;
    color: rgb(106, 198, 237);
    padding: 1em;
    width: 100%;
}

/* Responsive styling for smaller screens */
@media only screen and (max-width: 600px) {
    .main-content {
        padding: 0.5em;
    }
}