<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duuniin Vallassa</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <link rel="stylesheet" type="text/css" href="static/harjavalta/main.css"/>
    
</head>
<body>

    <!-- Header Section -->
    <header>
        <h1>Duuniin Vallassa</h1>
       
    </header>

    <div id="main">
    <div id="harjavalta"></div>
    </div>

    <script src="{% static "main.js" %}"></script>

    <main>
        <section>
            <h2>Welcome to the website of a future project!</h2>
            <p>Your platform connecting job seekers and employers in the municipality of Harjavalta.</p>
           
        </section>

      

    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 Duuniin Vallassa</p>
        
    </footer>

    

</body>
</html>
