<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duuniin Vallassa</title>
    <link rel="stylesheet" type="text/css" href="main.css"/>
    
</head>
<body>

    <!-- Header Section -->
    <header>
        <h1>Duuniin Vallassa</h1>
       
    </header>

    
    <main>
        <section>
            <h2>Welcome to the website of a future project!</h2>
            <p>Your platform connecting job seekers and employers in the municipality of Harjavalta.</p>
           
        </section>

      

    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 Duuniin Vallassa. All rights reserved.</p>
        
    </footer>

    

</body>
</html>
