h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(106, 198, 237);
    background-image: url("Harjavalta.vaakuna.svg.png");
    font-family: 'Lucida Console', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    line-height: 1.6;
}


header {
    background-color: #333;
    color: #8bd6ed;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}


main {
    text-align: center;
    padding: 2rem;
}

/* Main content area styling */
.main-content {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for job listings */
.job-listing {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

.job-listing h2 {
    color: #333;
}

.job-listing p {
    color: #666;
}


footer {
    margin-top: auto;
    background-color: #333;
    text-align: center;
    color: rgb(106, 198, 237);
    padding: 1em;
    width: 100%;
}

/* Responsive styling for smaller screens */
@media only screen and (max-width: 600px) {
    .main-content {
        padding: 0.5em;
    }
}